<div class="field">
  <div class="card-stack">
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="./../../assets/img/card_cover.png" />
    <img
      class="top-card"
      style="right: 25px"
      (click)="pickCard()"
      src="./../../assets/img/card_cover.png" />
    <img
      *ngIf="pickCardAnimation"
      style="right: 25px"
      class="pick-card"
      (click)="pickCard()"
      src="./../../assets/img/ace_1.png" />
  </div>
</div>
